apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: vertical-pod-autoscaler-operator
  name: vpa-metrics-service
  namespace: openshift-vertical-pod-autoscaler
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: https
  selector:
    control-plane: vertical-pod-autoscaler-operator
